<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
{% block content %}
    

<main class="container">
   <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <form method="POST" class="card card-body">
            <h1 class="text-center" style="font-family: montserrat extrabold; text-transform: uppercase;">S<span style="color:#E04343;">ig</span>n<span style="color:#FFE800">U</span><span>p</span></h1>
            <h4 style="color:#FF0000">{{error}}</h4>
        
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"
                class="form-control" placeholder="Write your username">
            </div>

            <div class="mb-3">
                <label for="password">Password:</label>
                <input type="password" name="password1" id="password1"
                class="form-control" placeholder="Write Your Password">
            </div>

            <div class="mb-3">
                <label for="password2">Confirm Your Password:</label>
                <input type="password" name="password2" id="password2"
                class="form-control" placeholder="Confirm Your Password">
            </div>
        
            <button class="btn btn-dark">Signup</button>
        </form>
    </div>
   </div>     
   
</main>
{% endblock %}
</body>
</html>