<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
</head>
<body>

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="font-family: montserrat semibold">
            <h1 class="text-secondary">{{task.title}}</h1>

            <h4 style="color:#FF0000">{{error}}</h4>

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-dark" style="font-family: montserrat">
                    Upgrate
                </button>
            </form>

            <div class="d-flex mt-3">                
    
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-warning" style="font-family: montserrat">
                        Complete
                    </button>
                </form>
    
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" style="font-family: montserrat">
                        Delete
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</main>


{% endblock %}

</body>
</html>